h1 {outline-style: dotted; outline-color: khaki}
p{
	font-family: "Lucida consolen" , Lucida, Monospace; font-style: oblique;
}
h1{
	text-shadow: 3px 1px white;
}
img{
	border-radius: 150px
}
body {px; color: grey; text-shadow: 2px 2px white; border-style: solid;}